/* CORREZZIONE: Ricordati che i sono molti selettori specifici: .class.class (entrambi le calssi devono essere soddisfatte), .class .class (il figlio con class dell'elemento con class), tag, tag (entrmabi i tag) ecc */

/* CORREZZIONE: Ricorda che anche i commenti vanno chiusi se la sezione che denotano é lunga. */

/* CORREZZIONE: Per evitare che, a causa del bordo del pulsante bianco esso risulti più grande, aggiungiamo un bordo anche al bottone azzurro dandogli lo stesso colore dello sfondo in modo che non si veda e aggiunga spessore. E' bene anche aggiungere un cursor: pointer; in modo che qyando si passa sopra al bottone appaia il puntaatore come cursore. */

/* CORREZZIONE: Si potevano inserire nella sezione UTILITY del CSS essen do un elemento potenzialmente riccorente. */
/* CORREZZIONE: Potevi fare creando una classe che dava le indicaziono comuni a entrambi i cerchietti e poi in classi separate specificare i content e i colori diversi, bastava indicare una lettera a caso all'interno di content per la classe generale durante la costruzione e poi eliminata in seguito. N>B> Specifica altezza e larghezza in fase di costruzione */


/* 
GENERALE
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* 
  HEADER
*/



/* 
MAIN 
*/


/* arrow down
content: '\25BE' */